
.main-content .regform	{
	width: 800px;
	background-color: #fea993;
	margin:auto;
	color: #000;
	padding: 10px 0px 10px 0px;
	text-align: center;
	border-radius: 15px 15px 0 0;
}

.main-content .main 	{
	width: 800px;
	background-color: #fff;
	margin:auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.main-content .main form	{
	padding: 25px;
}

.main-content .main form #name	{
	width: 100%;
	height: 100%; 
	margin-bottom: -20px;
	margin-top: 50px;
}

.main-content .main form .name	{
	margin-left: 25px;
	margin-top: 10px;
	width: 125px;
	font-size: 18px;
	font-weight: 700;
	color: #000;

}

.main-content .main form .product_name	{
	margin-left: 25px;
	margin-top: 10px;
	width: 125px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.main-content .main form .patient_name	{
	margin-left: 25px;
	margin-top: 10px;
	width: 180px;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	position: relative;
	left: 70px;
	top: -35px;
}

.main-content .main form .firstname	{
	position: relative;
	left: 120px;
	top: -37px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
}

.main-content .main form .lastname	{
	position: relative;
	left: 320px;
	top: -72px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
}

.main-content .main form .firstlabel	{
	position: relative;
	color: #000;
	text-transform: capitalize;
	font-size: 14px;
	left: 120px;
	top: -45px;
}

.main-content .main form .lastlabel	{
	position: relative;
	color: #000;
	text-transform: capitalize;
	font-size: 14px;
	left: 80px;
	top: -45px;
}

.main-content .main form .address	{
	position: relative;
	left: 120px;
	top: -30px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
	width: 511px;
}

.main-content .main form .diagnose	{
	position: relative;
	left: 145px;
	top: -30px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
	width: 511px;
}

.main-content .main form .phone_number	{
	position: relative;
	left: 120px;
	top: -45px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
	width: 511px;
}

.main-content .main form .email	{
	position: relative;
	left: 120px;
	top: -32px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
	width: 511px;
}

.main-content .main form .product_critical_quantity	{
	position: relative;
	left: 120px;
	top: -45px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
	width: 511px;
}

.main-content .main form .password	{
	position: relative;
	left: 120px;
	top: -32px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
	width: 511px;
}

.main-content .main form .birthdate	{
	position: relative;
	left: 120px;
	top: -30px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
}

.main-content .main form .option	{
	position: relative;
	left: 120px;
	top: -32px;
	padding: 0 22px;
	font-size: 16px;
	line-height: 30px;
	border-radius: 6px ;
	width: 511px;
	height: 30px;
	outline: none;
	overflow: hidden;
}
.main-content .main form .option option	{
	font-weight: 700;
}



.main-content .main form .cancel  	{
	background-color: #fea993;
	position: relative;
	right: 220px;
	top: 20px;
	border-radius: 5px;
	display: inline;
	font-size: 15px;
	border: solid 2px black;
	padding: 7px;
}

.main-content .main form .register	{
	background-color: #fea993;
	position: relative;
	right: 250px;
	top: 20px;
	border-radius: 5px;
	display: inline;
	font-size: 15px;
	border: solid 2px black;
	padding: 7px;
	cursor: pointer;
}

.main-content .main form .cancel a {
	text-decoration: none;
	color: black;
}

@media (max-width: 986px)	{
	.main-content .regform	{
	width: 450px;
}

	.main-content .main 	{
		width: 450px;
	}

	.main-content .main form	{
		padding: 25px;
	}

	.main-content .main form #name	{
		width: 100%;
		height: 100%; 
		margin-bottom: -20px;
		margin-top: 50px;
	}

	.main-content .main form .name	{
		margin-left: 25px;
		margin-top: 10px;
		width: 125px;
		font-size: 13px;
		font-weight: 700;
		color: #000;

	}

	.main-content .main form .firstname	{
		position: relative;
		left: 125px;
		top: -30px;
		padding: 0 22px;
		font-size: 14px;
		line-height: 30px;
		border-radius: 6px ;
	}

	.main-content .main form .lastname	{
		position: relative;
		left: 125px;
		top: -25px;
		padding: 0 22px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
		display: block;
	}

	.main-content .main form .diagnose	{
		position: relative;
		left: 145px;
		top: -30px;
		padding: 0 22px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
	}

	.main-content .main form .firstlabel	{
		position: relative;
		color: #000;
		text-transform: capitalize;
		font-size: 13px;
		left: 125px;
		top: -30px;
	}

	.main-content .main form .lastlabel	{
		position: relative;
		color: #000;
		text-transform: capitalize;
		font-size: 13px;
		left: 125px;
		top: -28px;
	}

	.main-content .main form .address	{
		position: relative;
		left: 125px;
		top: -30px;
		padding: 0 22px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
	}

	.main-content .main form .phone_number	{
		position: relative;
		left: 125px;
		top: -30px;
		padding: 0 22px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
	}

	.main-content .main form .email	{
		position: relative;
		left: 125px;
		top: -32px;
		padding: 0 22px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
	}

	.main-content .main form .product_critical_quantity	{
		position: relative;
		left: 120px;
		top: -45px;
		padding: 0 22px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
	}

	.main-content .main form .password	{
		position: relative;
		left: 125px;
		top: -32px;
		padding: 0 22px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
	}

	.main-content .main form .birthdate	{
		position: relative;
		left: 125px;
		top: -30px;
		padding: 0 22px;
		font-size: 16px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px ;
	}

	.main-content .main form .option	{
		position: relative;
		left: 125px;
		top: -32px;
		padding: 0 22px;
		font-size: 13px;
		line-height: 30px;
		border-radius: 6px ;
		width: 211px;
		height: 30px;
		outline: none;
		overflow: hidden;
	}
	.main-content .main form .option option	{
		font-weight: 400;
	}


	.main-content .main form .cancel  	{
		background-color: #fea993;
		position: relative;
		right: 50px;
		top: -11px;
		border-radius: 5px;
		display: inline;
		font-size: 15px;
		border: solid 2px black;
		padding: 5px;
	}

	.main-content .main form .register	{
		background-color: #fea993;
		position: relative;
		right: 150px;
		top: 20px;
		border-radius: 5px;
		display: inline;
		font-size: 15px;
		border: solid 2px black;
		padding: 5px;
		cursor: pointer;
	}

	.main-content .main form .cancel a {
		text-decoration: none;
		color: black;
	}
}